<extend name="Order/personalEdit"/>

<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		<!--左分类-->
		<div class="ficationFl fl">
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">订单中心</span>
				</dt>
				<dd>
					<a href="{:U('Order/order_myorder')}">·&nbsp;&nbsp;我的订单</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('OrderGroup/order_group')}">·&nbsp;&nbsp;团购订单</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('Order/cancel_order_record')}">·&nbsp;&nbsp;取消订单记录</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">资产中心</span>
				</dt>
				<dd>
					<a href="{:U('Assets/balance')}">·&nbsp;&nbsp;余额</a>
				</dd>
				<dd>
					<a href="{:U('Cart/goods')}">·&nbsp;&nbsp;我的购物车</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myCollection')}">·&nbsp;&nbsp;我的收藏</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myComment')}">·&nbsp;&nbsp;我的评价</a>
				</dd>
				<dd>
					<a href="{:U('Assets/coupon')}">·&nbsp;&nbsp;优惠券</a>
				</dd>
				<dd>
					<a href="{:U('Assets/integral')}">·&nbsp;&nbsp;积分</a>
				</dd>
				<dd>
					<a href="{:U('Assets/punkte')}">·&nbsp;&nbsp;积分兑换</a>
				</dd>
				<dd>
					<a href="{:U('Assets/gekauft')}">·&nbsp;&nbsp;我购买过的产品</a>
				</dd>
				<dd>
					<a href="{:U('Assets/myTracks')}">·&nbsp;&nbsp;浏览足迹</a>
				</dd>
			</dl>
			<dl data="false" class="active">
				<dt class="clearfix">
					<em class="fl"></em> 
					<span class="fl">财务中心</span>
				</dt>
				<dd>
					<a href="{:U('Finance/my_invoice')}">·&nbsp;&nbsp;我的发票</a>
				</dd>				
				<if condition="(member_status eq '1') Or (member_status eq '2')">
					<dd>
						<a href="{:U('Finance/my_shipment')}">·&nbsp;&nbsp;我的发货</a>
					</dd>
					<dd>
						<a href="{:U('Finance/my_payment')}">·&nbsp;&nbsp;我的付款</a>
					</dd>
					<dd>
						<a href="{:U('Finance/other_orders')}">·&nbsp;&nbsp;其他订单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/closed_order')}">·&nbsp;&nbsp;已出兑账单</a>
					</dd>
					<dd>
						<a href="{:U('Finance/outstanding_order')}">·&nbsp;&nbsp;未出兑账单</a>
					</dd>
				</if>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">特色业务</span>
				</dt>
				<dd>
					<a href="{:U('SpecialBusiness/enterprise_group')}">·&nbsp;&nbsp;企业团购</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/purchase_requisition')}">·&nbsp;&nbsp;采购需求单</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/join_application')}">·&nbsp;&nbsp;加盟申请</a>
				</dd>
				<dd>
					<a href="{:U('SpecialBusiness/printer_rental')}">·&nbsp;&nbsp;打印机租赁</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">商品中心</span>
				</dt>
				<dd>
					<a href="{:U('GoodsCenter/goods_search')}">·&nbsp;&nbsp;商品搜索</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">客户服务</span>
				</dt>
				<dd>
					<a href="{:U('Service/return_repair')}">·&nbsp;&nbsp;返修退换货</a>
				</dd>
				<dd>
					<a href="{:U('Service/after_sale')}">·&nbsp;&nbsp;售后管理</a>
				</dd>
				<dd>
					<a href="{:U('Service/advisoryReply')}">·&nbsp;&nbsp;咨询回复</a>
				</dd>
				<dd>
					<a href="{:U('Service/opinion')}">·&nbsp;&nbsp;意见建议</a>
				</dd>
				<dd>
					<a href="{:U('Service/repair_choice')}">·&nbsp;&nbsp;上门维修服务</a>
				</dd>
				<dd>
					<a href="{:U('Service/announcement')}">·&nbsp;&nbsp;网站公告</a>
				</dd>
				<dd>
					<a href="{:U('Service/report_center')}">·&nbsp;&nbsp;投诉中心</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">用户设置</span>
				</dt>
				<dd>
					<a href="{:U('UserSet/address')}">·&nbsp;&nbsp;收货地址</a>
				</dd>
				<if condition="(member_status eq '1') Or (member_status eq '2')">
				<dd>
					<a href="{:U('UserSet/enterprise')}">·&nbsp;&nbsp;企业信息</a>
				</dd>
				</if>
				<dd>
					<a href="{:U('UserSet/security')}">·&nbsp;&nbsp;安全设置</a>
				</dd>
			</dl>
			<dl data="false">
				<dt class="clearfix">
					<em class="fl"></em>
					<span class="fl">个人资料</span>
				</dt>
				<dd>
					<a href="{:U('UserData/user_data')}">·&nbsp;&nbsp;个人资料</a>
				</dd>
				<dd>
					<a href="{:U('UserData/bind_account')}">·&nbsp;&nbsp;账号绑定</a>
				</dd>
				<dd>
					<a href="{:U('UserData/special_application')}">·&nbsp;&nbsp;申请账期支付</a>
				</dd>
			</dl>
		</div>
		<!--内容-->
		<div class="mordrMain fr otheros-content-wrap">
			<div class="title clearfix">
				<ul class="clearfix fl nav">
					<li class="fl active hover"><a href="javascript:;">我的发货</a></li>
				</ul>
			</div>
			<div class="con-wrap clearfix">
				<div class="notes clearfix">
					<span class="fl">{$user.id}&nbsp;&nbsp;&nbsp;{$user.user_name}</span>
					<form action="{:U('Finance/my_shipment_search')}" method="post" onsubmit="return check()">
					<div class="searchInput fr clearfix">
						
						<input type="text" name="name" id="name" class="fl txt" placeholder="订单类型,过账日期">
						<input type="submit" value="查询" class="btn fl">
					</div>
					</form>
				</div>
				<dl class="my-content-main">
					<dt class="clearfix">
						<span class="fl w50"></span>
						<span class="fl w160">交货单</span>
						<span class="fl w120">总金额</span>
						<span class="fl w180">订单类型</span>
						<span class="fl w160">过账日期</span>
						<span class="fl w330">抬头备注</span>
					</dt>
					<empty name="data">
						<dd class="clearfix">
							<div style="width:100%;text-align:center;font-size:20px;">暂时没有数据哦!</div>
						</dd>
					<else/>
					<volist name="data" id="data">
						<dd class="clearfix">
							<span class="fl w50"><em></em></span>
							<span class="fl w160">{$data.order_id}</span>
							<span class="fl w120">{$data.price}</span>
							<span class="fl w180">
								<switch name="data.order_type">
									<case value="0">普通订单</case>	
									<case value="1">账期订单</case>
								</switch>
							</span>
							<span class="fl w160">{$data.create_time|date="Y-m-d",###}</span>
							<span class="fl w330 border-rnone">{$data.invoice_header}</span>
							<div class="fl hide-main">
								<table>
									<tr>
										<th width="60">行项目</th>
										<th width="90">商品编号</th>
										<th width="300">商品名称</th>
										<th>含税单价</th>
										<th>数量</th>
										<th>含税金额</th>
										<th>付款条件</th>
										<th>到期日</th>
										<th width="200">备注</th>
									</tr>
									<volist name="data.goods" id="goods" key="key">
										<tr>
											<td>{$key}</td>
											<td>{$goods.goods_id}</td>
											<td>{$goods.title}</td>
											<td>￥{$goods.goods_price}</td>
											<td>{$goods.goods_num}</td>
											<td>{$goods.goods_price_num}</td>
											<td>{$goods.goods_pay_type}</td>
											<td>{$goods.goods_due_date|date="Y-m-d",###}</td>
											<td>{$goods.goods_remarks}</td>
										</tr>
                                    </volist>
								</table>
							</div>
						</dd>
					</volist>
					</empty>
				</dl>
				<div class="cute"></div>
				<div class="page">{$page}</div>
				<div class="reminder">温馨提示：本期账单仅供您作为对账参考，最终数据以SAP提供的为准，如有疑问请联系我们的在线客服。</div>
			</div>
		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
	
<!-- <script src="js/header.js"></script> -->
<script src="__JS__/page.js"></script>
<script>
	//查询搜索框提示文字
	$('.otheros-content-wrap .con-wrap .notes .searchInput .txt').on('input',function(){
		if($(this).attr('value') != ''){
			$(this).addClass('color');
		}else{
			$(this).removeClass('color');
		}
	});
	function check(){
		var name = $('#name').val();
		if (name == '') {
			layer.tips('不能为空!','#name',{
        	 tips:[4,'#f29202']
        });
			return false;
		};
		return true;
	}

	var aEm = $('.otheros-content-wrap .my-content-main dd span em');
	var aHide = $('.otheros-content-wrap .my-content-main dd .hide-main');
	aEm.on('click',function(){
		$(this).parent().toggleClass('active');
		$('.otheros-content-wrap .my-content-main dd').eq($(this).parents('dd').index()).toggleClass('active');
		aHide.eq($(this).parents('dd').index()-1).toggleClass('active');
		if($(this).parents('dd').index() == $('.otheros-content-wrap .my-content-main dd').length){
			$('.otheros-content-wrap .con-wrap .cute').toggleClass('active');
		}
	});
</script>
</block>